*{
   margin: 30px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  margin-right: 60px;
  
}
@font-face {
  font-family: hachimaru;
  src: url(fonts/HachiMaruPop-Regular.ttf) format("truetype");
  font-weight: 300 800;
  }
  @font-face {
    font-family: testo2;
    src: url(fonts/testo2.ttf) format("truetype");
    }
    
    @font-face {
    font-family: lobster;
    src: url(fonts/testo2) format("truetype");
    }

body {
  margin: 2%;
  justify-content: center;
  overflow: hidden;
    height: 99%;
    width: 99%;
    margin-top: 10px;

}


h2{
  text-align: center;
  font-size: 40pt;
font-family: testo2;
margin-left:;
color: rgb(214, 97, 136);
float: center;
}
h3{
  font-family: testo2;
  color: rgb(214, 97, 136);
}
p{
  font-family:hachimaru;
text-align: center;
}
li{
  font-family:hachimaru;
  text-align: center;
}
.emoji :hover{
  width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;;
}
img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 50PX;
}
.sushi{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


}
.sakuraa{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.noodles{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.anime1{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bloom{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bts {
  height: 200px;
  width: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }
.box-wrapper {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#box1 {
  padding: 10px;
  border: solid 1px rgb(238, 231, 231) 

}

#box2 {
  padding: 8px;
  border: solid 1px rgb(238, 231, 231)

}

#box3 {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border: solid 1px rgb(238, 231, 231)
}

#box4 {
  flex-grow: 2;
  border: solid 238, 231, 231;
  margin-left: 10px;
  
}
.column1{
  float: left;
  margin-top: 10px;
}
.column2{
  float: middle;
  margin-top: 10px;
}
article{
  text-align: left;
}
.middle-column{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.middle-column div {
  flex-grow: 1;
  margin: 0 8px;
  border: solid 1px 238, 231, 231
}

.middle-column div+div {
  margin-top: 8px
}

#box8 {
  flex-grow: 1;
  border: solid 1px 238, 231, 231
}
