@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
 
}
img{
position: relative;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;;
border-bottom-left-radius: 5px;
margin-left: 50px;
}
.wrapper{
  display: flex;
  position: relative;
  background-image: url(img/japa.2);
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
text-align: left;
}

.wrapper .sidebar{
  width: 350px;
  height: 100%;
  background: #e0abd3;
  padding: 60px 0px;
  position: fixed;
}

.wrapper .sidebar {
  color: #fff;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 20px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #e71d61;
  display: block;

}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar  li:hover{
  background-color:#e78dcc;
}
ul li:hover a{
    padding-left: 50px;
}
.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 50px;
  background: #f381d7;
  height: 50px;
  line-height: 55px;
  text-align: center;
  margin: 0 5px;
  color: #e71d61;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 50px;
}

.footer-bottom{
  text-align: center;
  color: black;
}

